<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Portfolio</title>
    <style>

    </style>
</head>
<body>
    <header class="p-3 mb-3 border-bottom bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center md-0 mb-3">
              <li><a href="{%url 'acaunt'%}" class="nav-link px-2 text-white">Аккаунт</a></li>
              <li><a href="{%url 'student'%}" class="nav-link px-2 text-white">Проекты</a></li>
              <li><a href="{%url 'main'%}" class="nav-link px-2 text-white">Главная страница</a></li>
            </ul>
          </div>
        </div>
    </header>
    <main class="form-signin w-100 m-auto">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-secondary">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal text-dark">{{ group.group }}</h1>
                <p class="lead fw-normal text-white">{{ group.name_facultet }}</p>
                <p class="lead fw-normal text-white">{{ group.name_spec }}</p>
                <a class="btn btn-dark" href="{%url 'main'%}">На главную</a>
        </div>
      </div>
    </main>
</body>
</html>
