<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Portfolio</title>
</head>
<body>
    <main class="form-signin w-100 m-auto">
        <section class="py-5 container">    
            <div class="d-grid gap-2 col-6 mx-auto">
              <h2 class="mb-3 text-center">Регистрация</h2>
              <form method="post">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-sm-6">
                      <label class="form-label">Имя</label>
                      {{ form.name }}
                    </div>
                  <div class="col-sm-6">
                    <label class="form-label">Фамилия</label>
                    {{ form.sname }}
                  </div>
      
                  <div class="col-sm-6">
                    <label class="form-label">Отчество</label>
                    {{ form.lname }}
                  </div>
      
                  <div class="col-12">
                    <label class="form-label">Email</label>
                    {{ form.email }}
                  </div>
      
                  <div class="col-12">
                    <label class="form-label">Password</label>
                    {{ form.password }}
                  </div>
      
                  <div class="col-12">
                    <label class="form-label">Университет</label>
                    {{ form.universitet }}
                  </div>
      
                  <div class="col-md-3">
                    <label class="form-label">Номер группы</label>
                    {{ form.group }}
                  </div>
                  <div class="col-sm">
                    <label class="form-label">Название проекта</label>
                    {{ form.project }}
                  </div>
                  <div class="col-md-5">
                    <label class="form-label">Ваша нагрузка в университете</label>
                    {{ form.load }}
                  </div>
                  <span>{{ error }}</span>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-danger" type="submit">Далее</button>
                  </div>
                </div>
              </form>
            </div>
        </section>
    </main>
</body>
</html>