{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'portfolio/css/print.css' %}">
    <title>Portfolio</title>
</head>
<body>
    <header class="p-3 mb-3 border-bottom bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{%url 'acaunt'%}" class="nav-link px-2 text-white">Аккаунт</a></li>
              <li><a href="{%url 'student'%}" class="nav-link px-2 text-white">Проекты</a></li>
              <li><a href="{%url 'main'%}" class="nav-link px-2 text-white">Главная страница</a></li>
            </ul>
          </div>
        </div>
    </header>
    <main class="form-signin w-100 m-auto">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 fw-normal text-white">Портфолио для студентов</h1>
          <p class="lead fw-normal text-white">В этом приложении вы можете посмотреть портфолио других студентов и разместить свое портфолио</p>
          <a class="btn btn-outline-secondary" href="{%url 'acaunt'%}">Начать</a>
        </div>
      </div>
        <section class="py-5 container">    
            <div class="d-grid gap-2 col-6 mx-auto">
              <h1 class="mb-3 text-center">Пользователи</h1>
              <div class="row g-4 row-cols-1">
                <div class="col align-items-start">
                  {% if main %}
                    {% for el in main %}
                        <div class="card mb-5">
                            <div class="card-body">
                                <h5 class="card-title">{{ el.name }} {{ el.sname }} {{ el.lname }}</h5>
                                <p class="card-text">Email: {{ el.email }}</p>
                                <p class="card-text"><a href="{%url 'univers'%}">Университет:</a> {{ el.universitet }}</p>
                                <p class="card-text"><a href="{%url 'groups' %}">Группа:</a> {{ el.group }}</p>
                                <p class="card-text">Проект: <a>{{ el.project }}</a></p>
                                <p class="card-text"><a href="{%url 'loads'%}">Нагрузка в унивеситете:</a> {{ el.load }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>У вас нет записей!</p>
                  {% endif %}
                </div>
              </div>
            </div>
        </section>
    </main>
</body>
</html>
